<h1>{{title}}</h1>
{{#each scholen}}
<h3>{{this.name}}</h3>
  <ul>
    <li>Locatie: {{this.locatie}}</li>
    <li>Niveau: {{this.niveau}}</li>
    <li>Onderwerpen: {{this.onderwerpen}}</li>
  </ul>
{{/each}}
